.intro {
    display:flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
    color:#414042;
}
#intro {
    text-align: left;
    line-break: normal;
    background-color: #fff;
    margin: 0 10px 0 10px;
    padding: 10px;
}

 #welcome {
     text-align: center;
 }

.intro > li {
    list-style: none;
    border: 1px lightgrey solid;
    margin: 0 10px 20px;
    box-shadow: 1px 1px 10px #ddd7cb;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
}

.description {
    text-align: left;
    padding: 10px;
    line-break: anywhere;
}

#title{
    text-transform: uppercase;
    color:#ef7b60;  
}

@media screen and (min-width: 768px) {
    .intro > li {
        width:40%; 
}
}