#empprofile {
    display:flex;
    flex-direction: column;
    padding: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8); 
    color: #f1f1f1;
    border: 1px rgb(251, 252, 252) solid;
    margin: 0 10px 20px;
    box-shadow: 1px 1px 10px #fd04bf;
   
}

#editme {
    margin:0 20px;
}




@media screen and (min-width: 768px) {
    #empprofile {
      max-width: 75%;
      justify-content: center;
      margin: 0 auto;
    }
    #editme {
        margin: 40px;
    }
  } 
  
  @media screen and (min-width: 1024px){
  
  }