.bold {
    font-weight: bold;
    margin-bottom: 0;
    margin-top:10px;
    color:#045d5c;
}
p {
    margin-top:0;
}
#title {
    text-transform: uppercase;
}

#current{
margin-bottom: 0;;
}

.event-list{
    padding:0;
}

.event-list > li {
    list-style: none;
    border: 1px lightgrey solid;
    margin: 0 10px 20px;
    box-shadow: 1px 1px 10px #ddd7cb;
    border-radius: 4px;
    background-color: #fff;
}


@media screen and (min-width: 768px) {

 .event-list > li {
    margin-left:0;
 }

 .event-list{
    padding:0;
    max-width: 75%;
    margin: 0 auto;
 }
}

@media screen and (min-width: 1024px){
    .event-list{
        max-width: 50%;
    }
}