.bold {
    font-weight: bold;
    margin-bottom: 0;
}
p {
    margin-top:0;
}


.event-list{
    padding:0;
}
#join-btn {
    background-color: turquoise;
}

.event-list > li {

    width: 100%;
    /* border: 1px solid; */
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #e8eaed;
    background-color: white;
}



@media screen and (min-width: 768px) {

 .event-list > li {
     
     margin-left:0;
 }

}