.create-js-profile form {
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
}

.create-js-profile .label {
    float: left;
    width: 150px;
    padding-right: 24px;
    color: white;
    margin-bottom: 20px;
    text-align: right;
}

.create-js-profile .input {
    float: left;
    width: calc(100% - 200px);
    margin-bottom: 20px;
}
 
.create-js-profile button {
    float: right;
    width: calc(100% - 200px);
}