.logo {
    text-decoration: none;
    color: #00b1b0;

}

.log-sign-links {
  text-decoration: none;
  color: #212121;
  cursor: pointer;
}

.header-span {
  display: block;
  /* style={{float:'right', marginRight:'50px'}} */
}