.logo {
    text-decoration: none;
    color: #fff;

}

.log-sign-links {
  text-decoration: none;
  color: rgb(0, 238, 255);
  cursor: pointer;
}

.header-span {
  display: block;
  /* style={{float:'right', marginRight:'50px'}} */
}