.links {
text-decoration: none;
color: #fff;
font-weight: 500; 
font-size: 18px; 
}

.links:hover {
    color: #d9ff01;
    color:#01fff0;
      /* color:rgb(5, 170, 156) ! important; */
}

.main-nav-active,
.main-nav-active2
{
   background-color:#fd04bf; 
   /* background-color: #ff5a34; */
   /* background-color:#ff3101; */
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
.navbar {
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color:#0e0d0d;
 }  

.navigation {
    position: relative;   
    font-family: "Orbitron", sans-serif;
    font-size:20px;
}

.hamburger {
    position: absolute;
    right: 0;
    z-index: 100;
    transform: rotate(90deg);
    padding: 0;
    font-size: 20px;
    top: -4px;
}

.toggle {
    display: none;
}

.show {
    display: flex;
}

.links {
text-decoration: none;
color: white;
padding: 10px;
}

.my-events-link {
    text-decoration: none;
    color: white;
    padding: 10px;
}

li {
    list-style: none; 
}

@media screen and (min-width: 1024px) {
    .navbar {
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
       
        flex-direction: row;
        position: static;
    }

    .toggle {
        display: flex
    }

    .hamburger {
        display: none;
    }
}