.navbar {
    padding: 20px;
    background-color: rgb(4, 46, 40);
    display: flex;
    justify-content: space-evenly;
}

.links {
text-decoration: none;
color: whitesmoke;
}

li {
    list-style: none; 
}

