.App {
  text-align: center;  
  height: 100%;
  display: flex;
  flex-direction: column;   
  background-color: #1A1A1A; 
  font-family: 'Open Sans', sans-serif;
 }

.App-header {
  top: 0px;
  transition: top 0s ease 0s, background-color 400ms ease-in-out 0s;
  transition: top .4s ease;
  background-color:#0e0d0d;
  box-sizing: content-box;
  position: relative;
  z-index: 100;
  font-family: "Orbitron", sans-serif;
  font-weight: 300;
  text-shadow: 0 2px 17px rgba(0, 0, 0, 0.12);
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
ul {
  padding:0;
}
.content {
  flex: 1 0 auto;
  text-align:center;
  color:#212121;
}

.button {
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 4px;
  cursor: pointer;
}

.App-landing {
  background-color: #0e0d0d;
}
