.App {
  text-align: center;  height: 100%;
  display: flex;
  flex-direction: column;
  font: 1rem 'Baloo Da 2', cursive;
  background-color: #fff;
 }

.App-header {
  top: 0px;
  transition: top 0s ease 0s, background-color 400ms ease-in-out 0s;
  transition: top .4s ease;
  background-color:#20a7a7;
  /* background-color: #00b1b0; */
  /* border-bottom: 1px solid #e8eaed; */
  box-sizing: content-box;
  position: relative;
  z-index: 100;
  /* text-align: center; */
}

ul {
  padding:0;
}
.content {
  flex: 1 0 auto;
  text-align:center;
  color:#212121;
}

.button {
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 4px;
  cursor: pointer;
}